* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #1fb73a;
}

*::-webkit-scrollbar {
  width: 0;
}

.active {
  background-color: #363636;
  color: #ffffff;
}

.bold {
  font-weight: 600;
}

body {
  background-color: #1c1c1c;
  background-size: 100% auto;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  min-width: 360px;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
